body{
    font-family: 'Ubuntu' sans-serif;
}





/* ----------TITTLE SECTION--------- */

.navbar-nav{
    margin-left: auto;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 400;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: smaller;
    font-weight: lighter;
}
.nav-link:hover{
    background-color: rgba(0, 0, 0, 0.349);
    font-size: larger;
}

#tittle{
    background-color: #8A2542;
    padding: 5% 15%;
}
.display-1{
    margin-top: 100px;
    font-size: 4.3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: ivory;
}
#intro-text{
    word-spacing: 0.2rem;
    line-height: 1.5;
    font-size: 25px;
    margin: 30px 0 50px;
    font-family: 'Lato', sans-serif;
}
span{
    text-decoration: underline;
    color: white;
}
.cat-img{
    height: 23.875rem;
    width: 30.25rem;
    margin: 18% 0 0 15%;
}
.btn-d{
    margin: 3% 3% 0;
}



/* --------FEATURE SECTION--------- */

#features{
    padding: 13% 7% 7%;
    background-color: #e0dede;
}
h3{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;

}
#features p{
    color: grey;
    font-family: 'Lato-Regular', sans-serif;
    width: 50%;
    margin: auto;
}
.feature-box{
    text-align: center;
    margin: 0;
}

.feature-cat-img{
    width: 40%;
    margin-bottom: 2rem;
}


/* -----TESTIMONIALS */


#testimonials{
    background-color: #751e37 ;
    padding: 13% 7% 7%;
    text-align: center;
}
.testimonial-img{
    width: 7%;
    border-radius: 90%;
    margin: 10px 7px ;
}
h2{
    color: ivory;
    font-family: 'Montserrat', sans-serif;

}
